@font-face {
  font-family: 'iconfont';  /* project id 937081 */
  src: url('//at.alicdn.com/t/font_937081_9p6pu5sezew.eot');
  src: url('//at.alicdn.com/t/font_937081_9p6pu5sezew.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_937081_9p6pu5sezew.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_937081_9p6pu5sezew.woff') format('woff'),
  url('//at.alicdn.com/t/font_937081_9p6pu5sezew.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_937081_9p6pu5sezew.svg#iconfont') format('svg');
}


.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e644";
}

.icon-down:before {
  content: "\e6a1";
}

.icon-up:before {
  content: "\e6a2";
}

.icon-jinzhi:before {
  content: "\e66b";
}

.icon-jia:before {
  content: "\e638";
}

.icon-selected:before {
  content: "\e624";
}

.icon-close:before {
  content: "\e655";
}

.icon-play:before {
  content: "\e64f";
}

.icon-stop:before {
  content: "\e686";
}

.icon-mobile:before {
  content: "\e617";
}

.icon-icon-test:before {
  content: "\e611";
}

.icon-question:before {
  content: "\e62e";
}

.icon-plus:before {
  content: "\e608";
}

.icon-top:before {
  content: "\e67a";
}

.icon-edit:before {
  content: "\e652";
}

.icon-right:before {
  content: "\e64d";
}

.icon-image:before {
  content: "\e650";
}

.icon-delete:before {
  content: "\e600";
}

.icon-shield:before {
  content: "\e60e";
}

.icon-more:before {
  content: "\e612";
}

.icon-view:before {
  content: "\e621";
}

.icon-kefu:before {
  content: "\e62d";
}

.icon-dingbu:before {
  content: "\e643";
}

.icon-select:before {
  content: "\e62c";
}

.icon-edit1:before {
  content: "\e60c";
}

.icon-dibu:before {
  content: "\e687";
}
