@import "../../assets/style/font.scss";
@import "../../assets/style/base.scss";
@import "../../assets/style/flex.scss";
@import "../../assets/style/btn.scss";
.is-null{
  padding: 60px;
  text-align: center;
  image{
    width: 278px;
    height: 214px;
  }
  .tips{
    margin-top: 30px;
    color: #333;
  }
}
