@import "../../assets/style/base.scss";

#my-check{
  /* .top{
    image{
      width: 100%;
      height: 234rpx;
    }
  }
  .my-check-main{
    .my-check-warp{

      .key{
        color: #999999;
        margin-right: 30rpx;
      }
      .value{
        color: #333333;
      }

      border-top: 0;
      .section-top{
        border-bottom: 0;
        padding-bottom: 0;
      }

      .my-msg-list{
        margin-bottom: 0;
        .my-msg-item{
          margin-bottom: 30rpx;
          &:last-child{
            margin-bottom: 0;
          }

        }
      }

      .my-class-list{
        overflow: auto;
        white-space: nowrap;
        height: 250rpx;
        .my-class-item{
          box-shadow: 0 0 10rpx rgba(102,102,102,0.15);
          border-radius: 10rpx;
          display: inline-block;
          min-width: 302rpx;
          margin-right: 30rpx;
          .header{
            background: $mainColor;
            color: #ffffff;
            padding: 0 30rpx;
            line-height: 70rpx;
            border-radius: 10rpx 10rpx 0 0;
          }
          .body{
            padding: 30rpx;
            .my-class-msg-item{
              &:first-child{
                margin-bottom: 30rpx;
              }
            }
          }
        }
      }
    }
  } */

  .operate{
    width: 100%;
    padding: 0 60px 60px 60px;
    box-sizing: border-box;
    .tips{
      margin-top: 20px;
      font-size: 28px;
      color: #999;
      /* .conact{
        display: inline-block;
        color: #2fa0ff;
        position: relative;
        margin-left: 10rpx;
        button{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 8;
          opacity: 0;
        }
      } */
    }
  }


  .check-box {
    box-shadow: 0 0 10px rgba(102,102,102,0.15);
    border-radius: 20px;
    margin: 60px;
    overflow: hidden;
    .check-top {
      width: 100%;
      height: 240px;
      position: relative;
      image {
        width: 100%;
        height: 240px;
      }
      .check-top-cont {
        position: absolute;
        top: 0;
        left: 58px;
        right: 0;
        bottom: 0;
        .school {
          font-size: 40px;
          color: #fff;
          line-height: 68px;
          padding-top: 40px;
        }
        .tch {
          font-size: 28px;
          color: #fff;
          padding-top: 20px;
          text {
            padding-left: 46px;
          }
        }
      }
    }

    .class-box {
      padding-top: 47px;
      .class-tit {
        height: 60px;
        position: relative;
        .label {
          width: 12px;
          height: 30px;
          border-radius: 0 4px 4px 0;
          margin-right: 48px;
          background: #ffc476;
        }
        .class-name {
          font-size: 34px;
          color: #ffc476;
          margin-right: 24px;
        }
        .class-input {
          width: 200px;
        }
        .edit {
          color: #999;
          font-size: 24px;
          width: 34px;
          height: 34px;
          text-align: center;
          line-height: 34px;
        }
        &.master-tit {
          .label {
            background: #82d7f3;
          }
          .class-name {
            color: #82d7f3;
          }
        }

        .invitation-btn {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          font-size: 28px;
          color: #fff;
          line-height: 60px;
          text-align: center;
          box-shadow: 0 0 10px rgba(102,102,102,0.15);
          width: 156px;
          border-radius: 30px 0 0 30px;
          background: linear-gradient(to right, #ffbe41, #f7d85e);
        }
      }

      .class-message {
        padding-left: 56px;
        padding-right: 45px;
        .msg {
          height: 82px;
          .msg-tit {
            font-size: 28px;
            color: #999;
          }
          .msg-cont {
            font-size: 28px;
            color: #333;
            .right {
              font-size: 14px;
              font-weight: bold;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

.pop-wrapper {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .mask {
    position: absolute;
    left: 0;
    background: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    height: 100%;
  }
  .pop {
    position: absolute;
    width: 600px;
    height: 590px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -295px;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    padding-top: 38px;
    padding-left: 60px;
    padding-right: 60px;
    .modal-close {
      color: #8bd1e7;
      font-size: 32px;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      position: absolute;
      top: 28px;
      right: 20px;
      transform: rotate(45deg);
    }
    .pop-cont {
      .cont-box {
        padding-top: 52px;
        padding-bottom: 52px;
        &:first-child {
          border-bottom: 1px solid #e5e5e5;
        }
        .tit {
          font-size: 34px;
          color: #333;
          line-height: 48px;
          padding-bottom: 20px;
          .copy {
            font-size: 24px;
            color: #8bd1e7;
            margin-left: 10px;
          }
        }
        .cont {
          font-size: 28px;
          color: #999;
          line-height: 44px;
        }
      }
    }
  }
}
